@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Subtle paper-like texture hint (optional) */
:root {
  /* Tweak these if you want closer color matching */
  /* --page: linear-gradient(135deg, #fafbfc 0%, #f4f6f8 50%, #bfd3ed 100%); */
  --page: #b5c1eb; /* pinkish background (body is set via layout) */

  /* card styles */
  --card-base: #3f65d6;
  --card-main: #b2b6c2;
  --card-body: #e8e6e1;
  --card-neutral: #f4f4f4;
  --card-black: #1c150f;

  /* landing styles */
  --landing-banner: hsl(60, 100%, 87%);
  --landing-main: hsl(55, 92%, 90%);
  --landing-base: hsl(93, 22%, 46%);

  /* services styles */
  --services-banner: hsl(0, 100%, 51%);
  --services-main: hsl(0, 100%, 51%);
  --services-base: hsl(93, 22%, 46%);

  /* our story styles */
  --story-banner: hsl(75, 100%, 51%);
  --story-main: hsl(75, 100%, 51%);
  --story-base: hsl(93, 22%, 46%);

  /* contact styles */
  --contact-banner: hsl(178, 100%, 51%);
  --contact-main: hsl(178, 100%, 51%);
  --contact-base: hsl(93, 22%, 46%);

  /* footer styles */
  --footer-banner: hsl(25, 68%, 62%);
  --footer-main: hsl(178, 95%, 84%);
  --footer-base: hsl(233, 98%, 16%);
}

body {
  /* background: var(--mist); */
  color: var(--primary-black);
}

.custom-banner {
  background: var(--slate);
  color: white;
  padding: 5rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
}

h1 {
  color: var(--banner-text);
}
